.Normal {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;text-transform: none;color:#222222;letter-spacing:0em;}
.Heading_1 {font-size:18px;color:#5D9045;}
.Heading_2 {font-weight:bold;font-size:15px;color:#3E602E;}
.TopBanner_heading {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:20.46px;text-decoration:none;text-transform: none;color:#FFFFFF;letter-spacing:0em;}
